<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <title>@ViewBag.Title TONA - +Producto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="nav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="btnMenu" class="navbar-collapse pull-right" data-toggle="collapse" href="#collapse1"><img src="~/Image/menu_Sandwich.png"></a>
                <a class="navbar-brand" id="TONA" href="@Url.Action("Tona", "Home")">
                    TONA
                </a>
                <a href="@Url.Action("Login","Admin")"><img id="img" src="~/Image/maniqui.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="pull-right">
                    @*<a id="btnMenu"  href="#collapse1"><img src="~/Image/menu_Sandwich.png"></a>*@
                </div>
            </div>
            <div id="collapse1" class="txtbtn panel-collapse collapse pull-right">
                <div id="aMenu">
                    <a class="aTxtColor" href="@Url.Action("Galeria", "Home")">Galeria</a>
                </div>
                <div id="aMenu">
                    <a class="aTxtColor" href="@Url.Action("Contact","Home")">Contacto</a>
                </div>
                <div id="aMenu1">
                    <a class="aTxtColor" href="#"><img id="imguser" src="~/Image/ic_user.png">@Html.Encode(User.Identity.Name)</a>
                </div>
                <div id="aMenu1">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()"><img id="imgLO" src="~/Image/ic_salir.png" /></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <footer class="footer">
            <div>
                <nav id="nav" class=" navbar-inverse">
                    <div id="txtfooter">
                        <p class="text-center credit">&copy; @DateTime.Now.Year -TONA - Santa Eufemia, Cordoba, Argentina</p>
                    </div>
                </nav>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
